* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  background-color: #285604;
}

.container {
  background-color: #FFFFFF;
  padding: 50px 20px;
  -webkit-box-shadow: 4px 5px 15px -2px #000000;
  box-shadow: 4px 5px 15px -2px #000000;
  border-radius: 5px;
}

h1 {
  margin-bottom: 30px;
  font-size: 2.5em;
  color: #3d8506;
  font-weight: bolder;
  text-transform: uppercase;
  border-bottom: 2px solid ;
  padding-bottom:20px ;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20PX;
  width: 100%;
}

.container-vl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-vl label {
  flex-grow: 1;
  font-size: 1.5em;
  color: #9FE870;
  text-transform: uppercase;
}

.container-vl input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid ;
  outline-color: #9FE870;

  font-weight: 100;

  &::placeholder{
    color: #16330072;
  }

}


#container-convertido {
  border: 2px solid #163300;
  background-color: #FFFFFF;
  padding: 10px;
  /* visibility: hidden; */
  border-radius: 5px;
  height: 20px;

}

#container-convertido span {
  font-size: 1.2em;
  color: #9FE870;
  text-transform: uppercase;

}

button {
  padding: 10px;
  font-size: 1.2em;
  background-color: #9FE870;
  /* border: solid 1px #163300; */
  border: none;
  border-radius: 5px;
  font-weight: 100;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 20px;
}

button:hover {
  transition: background-color .5s ease;
  /* box-shadow: 4px 5px 15px -9px #000000; */
  background-color: #80E142;
}